.App {
  text-align: center;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;700;900&display=swap");

body {
  font-family: "Poppins";
}

.img-nav {
  height: 13vh;
}

.bg-hero {
  background: linear-gradient(180deg, #e74c38 50%, #fef9f5 50%);
}
.drop-hero {
  border: #fefefe solid 2px;
  border-radius: 100%;
  padding: 20px;
}

@media screen and (max-width: 460px) {
  .drop-hero {
    padding: 10px;
  }
}
