@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  scroll-behavior: smooth;
}
/* Nav */
.img-nav {
  width: 14vh;
}
/* Hero */
.img-hero {
  /* height: 320px; */
  margin: 0 auto;
}
.bg-hero {
  background: linear-gradient(180deg, #e74c38 50%, #fef9f5 50%);
}

.drop-hero {
	border: #fefefe solid 2px;
	border-radius: 100%;
	padding:20px;
}
/* konten About */
.benefits-content {
  padding: 50%;
}
/* produk card */
.swiper-button-prev{
	margin-right:100px;
}
/* bayangan konten */
.shadow-card {
  box-shadow: 9px 9px 4px 0px rgba(0, 0, 0, 0.25);
}

/* lokasi penjualan */
.img-card {
  border-radius: 100%;
  border: #ff9393 solid 4px;
}

/* Footer */
Footer {
  border-radius: 50px 50px 0 0;
}
.border-foot-brand {
  background-color: #fffefe;
  border-radius: 100%;
  padding: 10px;
  margin-right: 5px;
}
